{{ if ( or (eq .chezmoi.username "vera" ) (eq .chezmoi.username "vant") ) }}
.extra_bash_function_work.sh
{{ end }}
{{ if ( or (eq .chezmoi.username "bytaj" ) (eq .chezmoi.username "username") ) }}
.extra_bash_function_personal.sh
{{ end }}